.home-cnt-dark {
  background-color: hsl(207, 26%, 17%);
}

.home-card-cnt {
  padding-left: 150px;
  padding-right: 150px;
  max-width: 100%;
  display: grid;
  column-gap: 6%;
  row-gap: 50px;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1200px) {
  .home-card-cnt {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-right: 80px;
    padding-left: 80px;
  }
}
