.header-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  max-width: 100%;
  height: 69px;
  padding-top: 30px;
}

.header-frm {
  width: 420px;
  border: 1px solid black;
}

.header-search-btn {
  width: 60px;
  height: 57px;
  border: none;
  background-color: white;
}

.search-box {
  width: 360px;
  height: 57px;
  border: none;
  font-size: 16px;
}
/* second part of header comp*/

.header-drpDownnBtn-cnt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-btn-cnt {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 5px;
}

.select-btn {
  border: none;
  background-color: white;
  padding-right: 70px;
}

.active {
  display: none;
}

.header-drp-btn {
  width: 182px;
  height: 57px;
  background-color: white;
}
