.nav-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  max-width: 100%;
  border-bottom: 1px black solid;
  height: 69px;
}
